td.ID_STYLE_NULL
{
  background-color: #FFFFFF;
  border-color:     #FFFFFF;
  border-style:     solid;
  border-width:	    3px;
  line-height:	    3px;
  vertical-align:   middle;
  height:	    23px;
  width:	    20px;
  padding:	    0;
}
  
td.ID_STYLE_0
{
  background-color: #FFCCFF; 
  border-color:     gray;
  border-style:	    groove;
  border-width:	    3px;
  line-height:	    3px;
  vertical-align:   middle;
  height:	    23px;
  width:	    20px;
  padding:	    0;
}
  
td.ID_STYLE_1
{
   background-color: #FFCC00; 
  border-color:      gray;
  border-style:	     groove;
  border-width:	     3px;
  line-height:	     3px;
  vertical-align:    middle;
  height:	     23px;
  width:	     20px;
  padding:	     0;
}

td.ID_STYLE_2
{
  background-color: #FF99FF; 
  border-color:     gray;
  border-style:	    groove;
  border-width:	    3px;
  line-height:	    3px;
  vertical-align:   middle;
  height:	    23px;
  width:	    20px;
  padding:	    0;
}
  
td.ID_STYLE_3
{
  background-color: #00FFFF; 
  border-color:     gray;
  border-style:	    groove;
  border-width:	    3px;
  line-height:	    3px;
  vertical-align:   middle;
  height:	    23px;
  width:	    20px;
  padding:	    0;
}
  
td.ID_STYLE_4
{
  background-color: #66CC99; 
  border-color: 	gray;
  border-style:		groove;
  border-width:		3px;
  line-height:		3px;
  vertical-align:	middle;
  height:			23px;;
  width:			20px;
  padding:			0;
}
  
td.ID_STYLE_5
{
  background-color: #33FF33; 
  border-color: 	gray;
  border-style:		groove;
  border-width:		3px;
  line-height:		3px;
  vertical-align:	middle;
  height:			23px;;
  width:			20px;
  padding:			0;
}

td.ID_STYLE_6
{
  background-color: #CC33FF; 
  border-color: 	gray;
  border-style:		groove;
  border-width:		3px;
  line-height:		3px;
  vertical-align:	middle;
  height:			23px;;
  width:			20px;
  padding:			0;
}

td.ID_STYLE_7
{
  background-color: #66FFCC; 
  border-color: 	gray;
  border-style:		groove;
  border-width:		3px;
  line-height:		3px;
  vertical-align:	middle;
  height:			23px;;
  width:			20px;
  padding:			0;
}
  
td.ID_STYLE_8
{
  background-color: #669999; 
  border-color: 	gray;
  border-style:		groove;
  border-width:		3px;
  line-height:		3px;
  vertical-align:	middle;
  height:			23px;;
  width:			20px;
  padding:			0;
}

td.ID_STYLE_9
{
  background-color: #00FFCC; 
  border-color: 	gray;
  border-style:		groove;
  border-width:		3px;
  line-height:		3px;
  vertical-align:	middle;
  height:			23px;;
  width:			20px;
  padding:			0;
}