
#trt-game {
	float: left;
    width: 50%;
	display:flex;
	align-items:center;
}


#trt-game div{
	border: 1px solid black;	
	display: inline-block;
	margin-left:2%;
    margin-right:2%;
}

#trt-keypad {
	padding: 10px 10px 10px 0px; 
}

#trt-board td{
	line-height: 3px;
	vertical-align: middle;
	height: 23px;
	width: 20px;
	padding: 0;	
	border: 3px groove gray;
}

#trt-board .color-null {
	background-color: white;
	border: 3px solid white;		
}

#trt-board .color-0 {
	background-color: FFCCFF;		
}

#trt-board .color-1 {
	background-color: FFCC00;	
}

#trt-board .color-2 {
	background-color: FF99FF;	
}

#trt-board .color-3 {
  background-color: #00FFFF;   
}
  
#trt-board .color-4 {
  background-color: #66CC99; 
}
  
#trt-board .color-5 {
  background-color: #33FF33; 
}

#trt-board .color-6 {
  background-color: #CC33FF; 
}

#trt-board .color-7 {
  background-color: #66FFCC; 
}
  
#trt-board .color-8 {
  background-color: #669999; 
}

#trt-board .color-9 {
  background-color: #00FFCC; 
}












