body p{
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

.announcement {	
    width: 50%;
	text-align: center;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: antiquewhite;
}
	
#trt-game {
	float: left;
    width: 50%;
	align-items:center;
}

#trt-board{
	border: 1px solid black;	
	display: inline-block;
	margin-left:2%;
    margin-right:2%;
}

#trt-keypad {
	border: 1px solid black;
	padding: 10px 10px 10px 0px; 
	display: inline-block;
	vertical-align: top;
}

#trt-squares td{
	line-height: 3px;
	vertical-align: middle;
	height: 23px;
	width: 20px;
	padding: 0;	
	border: 3px groove gray;
}

#trt-squares .color-null {
	background-color: white;
	border: 3px solid white;		
}

#trt-squares .color-0 {
	background-color: #FFCCFF;		
}

#trt-squares .color-1 {
	background-color: #FFCC00;	
}

#trt-squares .color-2 {
	background-color: #FF99FF;	
}

#trt-squares .color-3 {
  background-color: #00FFFF;   
}
  
#trt-squares .color-4 {
  background-color: #66CC99; 
}
  
#trt-squares .color-5 {
  background-color: #33FF33; 
}

#trt-squares .color-6 {
  background-color: #CC33FF; 
}

#trt-squares .color-7 {
  background-color: #66FFCC; 
}
  
#trt-squares .color-8 {
  background-color: #669999; 
}

#trt-squares .color-9 {
  background-color: #00FFCC; 
}












