.GridPresenter {
    grid-row: 2 / 4;
    grid-column: 1;
    border: 1px solid black;
    margin-left: 2%;
    margin-right: 2%;
}

.GridPresenter table {
    margin: 0 auto;
}

.GridPresenter td {
    line-height: 3px;
    vertical-align: middle;
    height: 23px;
    width: 20px;
    padding: 0;
    border: 3px groove gray;
}

.GridPresenter .color-null {
    background-color: white;
    border: 3px solid white;
}

.GridPresenter .color-0 {
    background-color: #FFCCFF;
}

.GridPresenter .color-1 {
    background-color: #FFCC00;
}

.GridPresenter .color-2 {
    background-color: #FF99FF;
}

.GridPresenter .color-3 {
    background-color: #00FFFF;
}

.GridPresenter .color-4 {
    background-color: #66CC99;
}

.GridPresenter .color-5 {
    background-color: #33FF33;
}

.GridPresenter .color-6 {
    background-color: #CC33FF;
}

.GridPresenter .color-7 {
    background-color: #66FFCC;
}

.GridPresenter .color-8 {
    background-color: #669999;
}

.GridPresenter .color-9 {
    background-color: #00FFCC;
}