.KeypadView {
    grid-row: 3/4;
    grid-column: 2;
    border: 1px dotted gray;
    vertical-align: top;
}

.KeypadView a {
    text-decoration: none;
}

.KeypadView table {
    margin: 0 auto;
    border: 0px;
    border-collapse: collapse;
}

.KeypadView .boxed {
    border: 1px groove gray;
}

.KeypadView .spacer {
    height: 5px;
}