.ShapeView {
    grid-row: 2;
    grid-column: 2;
    border: 1px dotted gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ShapeView table {
    margin: 0 auto;
    border-collapse: collapse;
}

.ShapeView td {
    vertical-align: middle;
    height: 11px;
    width: 10px;
    padding: 0;
    border: 1px groove gray;
}

.ShapeView .color-null {
    border: 0px;
}

.ShapeView .color-0 {
    background-color: #FFCCFF;
}

.ShapeView .color-1 {
    background-color: #FFCC00;
}

.ShapeView .color-2 {
    background-color: #FF99FF;
}

.ShapeView .color-3 {
    background-color: #00FFFF;
}

.ShapeView .color-4 {
    background-color: #66CC99;
}

.ShapeView .color-5 {
    background-color: #33FF33;
}

.ShapeView .color-6 {
    background-color: #CC33FF;
}

.ShapeView .color-7 {
    background-color: #66FFCC;
}

.ShapeView .color-8 {
    background-color: #669999;
}

.ShapeView .color-9 {
    background-color: #00FFCC;
}