.ShapeView {
    grid-row: 2;
    grid-column: 2;
    border: 1px dotted gray;
    padding: 10px 10px 10px 0px;
    vertical-align: top;
}

.ShapeView table {
    margin: 0 auto;
}

.ShapeView td {
    line-height: 3px;
    vertical-align: middle;
    height: 23px;
    width: 20px;
    padding: 0;
}

.ShapeView .color-null {
    background-color: white;
    border: 3px solid white;
}

.ShapeView .color-0 {
    border: 3px groove gray;
    background-color: #FFCCFF;
}

.ShapeView .color-1 {
    border: 3px groove gray;
    background-color: #FFCC00;
}

.ShapeView .color-2 {
    border: 3px groove gray;
    background-color: #FF99FF;
}

.ShapeView .color-3 {
    border: 3px groove gray;
    background-color: #00FFFF;
}

.ShapeView .color-4 {
    border: 3px groove gray;
    background-color: #66CC99;
}

.ShapeView .color-5 {
    border: 3px groove gray;
    background-color: #33FF33;
}

.ShapeView .color-6 {
    border: 3px groove gray;
    background-color: #CC33FF;
}

.ShapeView .color-7 {
    border: 3px groove gray;
    background-color: #66FFCC;
}

.ShapeView .color-8 {
    border: 3px groove gray;
    background-color: #669999;
}

.ShapeView .color-9 {
    border: 3px groove gray;
    background-color: #00FFCC;
}